<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex align-items-center">
            <span class="navbar-brand mb-0 h1">Budget Planner App</span>
            <a *ngIf="role == 'Admin'" class="nav-link ml-2" routerLink="/admin/users">Users</a>
            <!-- <a *ngIf="role == 'Admin'" class="nav-link ml-2" routerLink="/category">Category</a> -->
        </div>

        <div class="ml-auto">
            <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
        </div>
    </nav>
</header>